table{
    display: grid;
    grid-template-areas: "a a";
    font-size: small;
}

.hidden{
    width: 3vh;
    height: 3vh;
    background-color: rgb(139, 139, 139);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 0px;
}

.hidden:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.flagged{
    width: 3vh;
    height: 3vh;
    background-color: lightcoral;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 0px;
}

.discovered{
    width: 3vh;
    height: 3vh;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    padding: 0px;
}

.image{
    width: 2.5vh;
    height: 2.5vh;
    margin: 0px;
    padding: 0px;
}

.number0:after {
    padding: 100%;
}

.number1 {
    color: blue;
}

.number2 {
    color: green;
}

.number3 {
    color: red;
}

.number4 {
    color: purple;
}

.number5 {
    color: darkblue;
}

.number6 {
    color: darkgreen;
}

.number7 {
    color: darkred;
}

.number8 {
    color: darkviolet;
}

.centered {
    display: flex;
    justify-content: center;
}