table{
    display: grid;
    grid-template-areas: "a a";
    font-size: small;
}

.hidden{
    width: 3vh;
    height: 3vh;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 0px;
    box-shadow: inset 2px 2px white, inset -2px -2px darkgray;
}

.hidden:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.hidden:active{
    box-shadow: inset 1px 1px white, inset -1px -1px darkgray;
}

.flagged{
    width: 3vh;
    height: 3vh;
    background-color: lightcoral;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 0px;
}

.discovered{
    width: 3vh;
    height: 3vh;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    padding: 0px;
}

.image{
    width: 2.5vh;
    height: 2.5vh;
    margin: 0px;
    padding: 0px;
}

.number0:after {
    padding: 100%;
}

.number1 {
    color: blue;
}

.number2 {
    color: green;
}

.number3 {
    color: red;
}

.number4 {
    color: purple;
}

.number5 {
    color: darkblue;
}

.number6 {
    color: darkgreen;
}

.number7 {
    color: darkred;
}

.number8 {
    color: darkviolet;
}

.centered {
    display: flex;
    justify-content: center;
}

.timer {
    width: auto;
    color: red;
    font-family: digit, Arial, Helvetica, sans-serif;
    font-size: xx-large;
    box-shadow: inset 3px 3px rgb(230,230,230), inset -3px -3px darkgray;
    background-color: lightgray;
    padding-left: 1vh;
    padding-right: 2vh;
}

.timer:active{
    box-shadow: inset 1px 1px rgb(230,230,230), inset -1px -1px darkgray;
}

@font-face {
    font-family: digit;
    src: url(fonts/Digit.TTF);
}